.map {width: 615px; height: 361px;}
.mobile-map .map {width: 431px; height: 253px;} /* x 0.7 */
.region-map {position: relative; }
.map-nav {position: absolute; z-index: 3;}
#map-all {
    background-image: url(/img/regions/regions_all.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.small-map {
    background-image: none;
    background-repeat: no-repeat;
    display: block;
    width: 50px !important;
    height: 30px !important;
    position: absolute;
}
.small-map:hover {
    background-image: url('/img/regions/small_map.png');
}
.small-map img { width: 50px;}
.small-map:hover img { display: none;}
.region-point { display: block; width: 16px; height: 16px; background: url(/img/point.png) no-repeat; position: absolute;}
.region-point:hover {background: url(/img/point-selected.png);}
.rh1 {
    background-image: url('/img/regions/h1.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 9px;
    top: 289px;
    width: 40px;
    height: 60px;
    z-index: 1;
}
.rh2 {
    background-image: url('/img/regions/h2.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 1px;
    top: 257px;
    width: 79px;
    height: 63px;
    z-index: 1;
}

.rh4 {
    background-image: url('/img/regions/h4.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 60px;
    top: 204px;
    width: 118px;
    height: 113px;
    z-index: 1;
}
.rh5 {
    background-image: url('/img/regions/h5.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 21px;
    top: 182px;
    width: 103px;
    height: 84px;
    z-index: 1;
}
.rh6 {
    background-image: url('/img/regions/h6.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 37px;
    top: 106px;
    width: 218px;
    height: 122px;
    z-index: 1;
}
.rh7 {
    background-image: url('/img/regions/h7.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 131px;
    top: 140px;
    width: 156px;
    height: 168px;
    z-index: 1;
}
.rh8 {
    background-image: url('/img/regions/h8.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 201px;
    top: 71px;
    width: 257px;
    height: 290px;
    z-index: 1;
}
.rh9 {
    background-image: url('/img/regions/h9.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    position: absolute;
    left: 346px;
    top: 0px;
    width: 269px;
    height: 351px;
    z-index: 1;
}